@import '../../layout/style/base/breakpoints';
@import '../../layout/style/base/common';

.content {
  @extend .content-indentation;
}

.content-grid {
  display: grid;
  --gap: 1.25rem;
  grid-template-columns: repeat(var(--cols, 2), 1fr);
  margin-top: -3.75rem;
  grid-column-gap: var(--gap);
  grid-row-gap: var(--gap);

  @include media-breakpoint-up($breakpoint-xs) {
    --cols: 3;
  }

  @include media-breakpoint-up($breakpoint-tablet-md) {
    --gap: 1.875rem;
  }
}

.content-grid-2 {
  display: grid;
  grid-template: auto auto 1fr none;
  gap: 6.25rem;

  @include media-breakpoint-up($breakpoint-tablet-lg) {
    grid-template: auto 50% 1fr none;
    gap: 10%;
  }
}
