@import '../../layout/style/base/breakpoints';
@import '../../layout/style/base/common';

.content {
  @extend .content-indentation;
}

.content-grid {
  display: grid;
  --gap: 1.25rem;
  grid-template-columns: repeat(var(--cols, 2), 1fr);
  margin-top: -3.75rem;
  grid-column-gap: var(--gap);
  grid-row-gap: var(--gap);

  @include media-breakpoint-up($breakpoint-xs) {
    --cols: 3;
  }

  @include media-breakpoint-up($breakpoint-tablet-md) {
    --gap: 1.875rem;
  }
}

.content-grid-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: none;
  gap: 6.25rem;

  @include media-breakpoint-up($breakpoint-tablet-lg) {
    gap: 10%;
  }
}

.content-grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  gap: 3.125rem;

  @include media-breakpoint-up($breakpoint-tablet-lg) {
    gap: 10%;
  }
}

.content-grid-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
  -webkit-box-align: center;
  align-items: center;
  gap: 5rem;
  padding: 6.25rem;
  background: rgb(238, 238, 238);
  @include media-breakpoint-up($breakpoint-tablet-lg) {
    padding: 9.375rem;
    gap: 10%;
  }
}
