@import './breakpoints';
@import './flex';

.content-indentation {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 95rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;

  @include media-breakpoint-up($breakpoint-xs) {
    max-width: 96.25rem;
    padding-right: 1.875rem;
    padding-left: 1.875rem;
  }

  @include media-breakpoint-up($breakpoint-laptop-sm) {
    max-width: 100rem;
    padding-right: 3.75rem;
    padding-left: 3.75rem;
  }
}

.sub-title {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1;
  font-family: TungstenMedium, sans-serif;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.tungsten-text {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1;
  font-family: TungstenMedium, sans-serif;
  -webkit-letter-spacing: 0.5em;
  -moz-letter-spacing: 0.5em;
  -ms-letter-spacing: 0.5em;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.sequel-text {
  font-weight: 800;
  line-height: 1;
  font-family: Sequel, sans-serif;
  text-transform: uppercase;
}

