@import '../../layout/style/base/breakpoints';

.space-20 {
  height: 20px;
}

.space-20-40 {
  height: 20px;
  @include media-breakpoint-up($breakpoint-tablet-lg) {
    height: 40px;
  }
}

.space-25 {
  height: 25px;
}

.space-25-50 {
  height: 25px;
  @include media-breakpoint-up($breakpoint-tablet-lg) {
    height: 50px;
  }
}

.space-50 {
  height: 50px;
}

.space-50-100 {
  height: 50px;
  @include media-breakpoint-up($breakpoint-tablet-lg) {
    height: 100px;
  }
}

.space-100-200 {
  height: 100px;
  @include media-breakpoint-up($breakpoint-tablet-lg) {
    height: 200px;
  }
}

.space-110-60-21 {
  height: 110vw;

  @include media-breakpoint-up($breakpoint-tablet-md) {
    height: 60vw;
  }

  @include media-breakpoint-up($breakpoint-tablet-lg) {
    height: 21vw;
  }
}
