@import '../../layout/style/base/flex';

.top-nav-bar {
  @include flexbox;
  @include align-items(center);
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 1.25rem;
  mix-blend-mode: difference;
  will-change: transform;

  .logo-svg {
    width: 200px;
  }
}
