@import '../../layout/style/base/breakpoints';
@import '../../layout/style/base/flex';

.header {
  @include flexbox;
  @include align-items(center);
  min-height: 550px;
  height: calc(100vh - 60px);
  position: relative;
  transition-property: color, background-color;
  transition-duration: 0.6s;

  @include media-breakpoint-up($breakpoint-sm) {
    height: 100vh;
  }

  .header-lining {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 95rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;

    @include media-breakpoint-up($breakpoint-md) {
      max-width: 100rem;
      padding-right: 3.75rem;
      padding-left: 3.75rem;
    }

    @include media-breakpoint-between($breakpoint-sm, $breakpoint-md) {
      max-width: 96.25rem;
      padding-right: 1.875rem;
      padding-left: 1.875rem;
    }

    .header-title {
      font-weight: 800;
      text-transform: uppercase;
      line-height: 0.9;
      font-size: 9vw;

      @include media-breakpoint-up(56.25em) {
        font-size: 4.2vw;
      }

      @include media-breakpoint-up(95.3125em) {
        font-size: 4.375rem;
      }
    }

    .header-content-link {
      position: absolute;
      bottom: 6.25rem;
      left: 50%;
      transform: translate(-50%);

      .animation-line-block {
        padding: 20px 100px;
        transition: opacity 1s ease 0s;
        .animation-line {
          width: 1px;
          height: 35px;
          background: currentcolor;
          animation: 2s cubic-bezier(0.8, 0, 0.2, 1) 0s infinite normal none
            running animation-117ohhb;
        }
      }
    }
  }
}

@keyframes animation-117ohhb {
  0% {
    transform-origin: 0% 0%;
    transform: scale(1, 0);
  }

  50% {
    transform-origin: 0% 0%;
    transform: scale(1, 1);
  }

  50.001% {
    transform-origin: 0% 100%;
    transform: scale(1, 1);
  }

  100% {
    transform-origin: 0% 100%;
    transform: scale(1, 0);
  }
}
