@import '../../layout/style/base/breakpoints';

.anthony-img-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  will-change: transform;
  background-color: #fff;
  transition: opacity 0.5s ease-out;
  pointer-events: none;

  .anthony-img-inner {
    width: 100%;
    height: 100%;
    margin-left: auto;
    opacity: 0.5;

    @include media-breakpoint-up($breakpoint-tablet-lg) {
      width: 80%;
      opacity: 1;
    }

    .img {
      width: 100%;
      height: 100%;
    }
  }
}
