@import '../../layout/style/base/flex';

.footer-container {
  @include flexbox;
  @include flex-wrap(wrap);

  .social-links {
    @include flex(1, 1, 0%);
    .sub-title {
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1;
      font-family: TungstenMedium, sans-serif;
      letter-spacing: 0.5em;
      text-transform: uppercase;
    }
  }
}
